@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
  --main-color: #00ADB5;
}


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

/* WEBKIT */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;

}



html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #000000;
}


html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}


/* ALL SECTIONS */

section {
  padding: 2rem 9%;
}

/* ALL SECTIONS */


/* WEBKIT */

/* BODY */
body {
  padding: 0;
  background-position: top;
  background-color: #000000;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  margin: auto;
}

/* BODY */

/* BANNER */

/* .banner {
  width: 100%;
  display: inline-block;
  height: 120px;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: rgba(57, 109, 117);
}



.banner-text {
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: #00ADB5;
  text-align: center;
  animation: colorFadeChange 15s infinite alternate;

}



.banner-text h1 {
  font-size: 30px;
  white-space: nowrap;
}


@media screen and (max-width: 768px) {
  .banner-text h1 {
    font-size: 20px;
  }

}



@media screen and (max-width: 480px) {
  .banner-text h1 {
    font-size: 15px;
  }

} */

/* BANNER */

/* DESIGN BOXES */

.box div {
  position: absolute;
  z-index: -100;
  opacity: 0.4;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid #046d72;
}

.box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 15s linear infinite;
}

.box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 15s linear infinite;
}

.box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 15s linear infinite;
}

.box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 15s linear infinite;
}

.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
  top: 32%;
  left: 70%;
  animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

/* DESIGN BOXES */


/* DESIGN BOXES AND BANNER TO MAKE IT RESPONSIVE */
@media screen and (max-width: 480px) {


  .box div {
    width: 10px;
    height: 10px;
    border: 0.5px solid #00ADB5;
  }


  .banner {
    height: 80px;
  }
}

/* BOXES ROTATION */
@keyframes animate {

  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }

  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 1;
  }
}

@keyframes colorFadeChange {

  25%,
  100% {
    color: #0174BE;
    opacity: 0;
  }

  50% {
    color: #fff;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {

  .box div {
    width: 20px;
    /* Larger size for smaller screens */
    height: 20px;
    border: 1px solid #00ADB5;
  }


  /* .banner {
    height: 100px;
  } */

}


/* DESIGN BOXES AND BANNER TO MAKE IT RESPONSIVE */



/* HEADER - NAVBAR */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
}

.fa-times {
  transform: rotate(180deg);
}



.header .logo {
  position: relative;
  font-weight: bolder;
  color: #fff;
  font-size: 2.5rem;
  left: -100px;
}

.navbar{
  position: relative;
  left: 120px;
}
.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin-right: 2rem;
}

.header .navbar a:hover {
  color: #ffffff;
}


.header .navbar.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


#menu-bars {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;

}

/* 1ST SECTION HEADER TITLE */
.home .content {
  text-align: center;
  padding-top: 6rem;
  margin: 2rem auto;
  max-width: 70rem;
}


.home .content h3 {
  color: #fff;
  font-size: 4.5rem;
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--main-color);
  font-size: 4.5rem;
  text-transform: uppercase;
}

.home .content h3 {
  font-size: 4rem;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.musilogo {
  width: 140%;
}

.musilogo:hover {
  transform: scale(1.2);
  /* Adjust the hover scale factor as needed */
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border: 1px solid #03e9f4;
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #009192;
}


@media (max-width:450px) {
  .swiper-slide {
    width: 27rem;
  }

  
}

@media (max-width:768px) {

  #menu-bars {
    display: initial;
  }
  .musilogo {
    width: 100%;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: .1rem solid #222;
    background: #333;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar a {
    display: flex;
    background: #222;
    border-radius: .5rem;
    padding: 1.3rem;
    margin: 1.3rem;
    font-size: 2rem;

  }


}

@media (max-width:991px) {

  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;

  }
  .musilogo {
    width: 120%;
  }


}

@media (max-width:450px) {

  html {
    font-size: 50%;
  }

}

/* 1ST SECTION HEADER TITLE */

/* SWIPER */
.swiper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  overflow: hidden;
  border-radius: .5rem;
  height: 50rem;
  width: 35rem;
  box-shadow: 0 0 10px #0D7377;
  backface-visibility: hidden;
}


.swiper-slide:hover {
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
}

.swiper-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;

}

/* SWIPER */


/* CONCERT LIST  */
.card {
  box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
  width: 400px;
  height: 800px;
}

.con .content2 {
  text-align: center;
  padding-top: 3rem;
  margin: 2rem auto;
  max-width: 70rem;
  font-size: large;
}

.con .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-bottom: 1.5rem; 

}



.con .content2 h3 {
  color: #fff;
  font-size: 4.5rem;
  text-transform: uppercase;
}



.con .content2 h3 span {
  color: var(--main-color);
  font-size: 4.5rem;
  text-transform: uppercase;
}


.con .container .card {
  border-radius: .5rem;
  background: #000000;
  border-right: 3px solid #03e9f4;
  border-left: 3px solid #03e9f4;
  text-align: center;
  padding: 2.5rem;

}

.con .container .card h2 {
  font-size: 2rem;
  color: #fff;
  padding: 1rem 0;

}

   /* Add the Pagination Styles here */
   .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }

  .pagination a {
    margin: 0 5px;
    padding: 8px 12px;
    text-decoration: none;
    background-color: #eee;
    font-size:larger;
    font-weight: bold;
    color: #333;
    border-radius: 4px;
  }

  .pagination a:hover {
    background-color: #00ADB5;
    color: #fff;
  }
  .pagination a.active {
    background-color: #00ADB5;
    color: #fff;
  }

.imgBx img {
  max-width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
}


.con .container .card p {
  font-size: 1.4rem;
  color: #fff;
  line-height: 1.8;

}

.imgBx:hover img {
  transform: scale(1.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, .2);

}




.button {
  padding: 10px 20px;
  background: #666;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}


.logout {
  padding: 8px 20px;
  background: #00000067;
  border-radius: 15px;
  text-decoration: none;
}

.logout:hover {
  background: #ff0000;
  color : #ffffff;
}


.button-container {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.button:hover {
  background: var(--main-color);
}

.intro {
  /* SECOND SECTION INTRODUCTION - CONCERTS */
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem 0;
  display: block;
  margin-bottom: 10%;

}

.con {
  padding: 2rem 9%;
  background-color: #000000;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.pimg2{
	background-image: url('https://cdn.idntimes.com/content-images/duniaku/post/20250301/kimetsu-no-yaiba-infinity-castle-shinobu-ddc581cc36e6a6673458148840180103.jpg');
	min-height: 800px;
}

.pimg3{
	background-image: url('https://www.marketeers.com/_next/image/?url=https%3A%2F%2Fimagedelivery.net%2F2MtOYVTKaiU0CCt-BLmtWw%2Ff06b0452-223b-4db5-2a75-b8ca59e81800%2Fw%3D1000&w=1920&q=75');
	min-height: 800px;
}
.pimg1{
	background-image: url('https://cdn.api.upstation.media/2024-10/1729135550384_Dandadan-%20thumbnail.jpg');
	min-height: 800px;
}
.pimg2, .pimg3, .pimg1{
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.70; 
	background-attachment: fixed;
} 

.section{
	text-align: center;
	padding : 50px 80px;
}

.section-light{
	background-color: #f2f2f2;
	color: #666;
}

.section-light p{
  font-size: 16px ;
}

.section-dark{	
	background-color: #4c4c4c;
	color: #ddd;
}

.section-dark p{
  font-size: 16px ;
}

.ptext{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 27px;
	color: #000;
	letter-spacing: 8px;
	text-transform: uppercase;

}

.ptext .border{
	background-color: black;
	color: #fff;
	padding: 20px;
	font-weight: 500;
}

.ptext .border.trans{
	background-color: transparent;
}

@media(max-width : 568px){
	.pimg1, .pimg2, .pimg{
		background-attachment: scroll;
	}
}



/* CONTACT */

.contact{
background: #000000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .9 );
  
}


.inputBox select {
  width: 49%;
  background: #222;
  border-radius: .5rem;
  padding: 1rem;
  margin: .7rem 0;
  font-size: 1.5 rem;
  color: #fff;
  text-transform: none;
}


.contactcon{
display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.contactcon form {
  position: relative;
  right: 400px;
  flex: 1;
  max-width: 600px; /* Adjust the maximum width as needed */
}

.contactcon .contactimg{
  max-width: 100%;
  width: 300px;
}


.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;

}

.contact .heading {
  position: relative;
  font-size: 3.5rem;
  color: #ffffff;
  /* Teal color */
  margin-bottom: 10px;
  font-weight: bold;
  right: 120px;
}

.contact .heading span {
  border-bottom: 2px solid #00f2ff;
  /* Teal color */
  padding-bottom: 5px;
}

.contact p {
  position: relative;
  right: 120px;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #e6e4e4;
}


.contact form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea {
  width: 100%;
  background: #222;
  border-radius: .5rem;
  padding: 1rem;
  margin: .7rem 0;
  font-size: 1.5 rem;
  color: #fff;
  text-transform: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder {
  color: #fff;
  text-transform: capitalize;
}

.contact form .inputBox input:focus,
.contact form textarea:focus {
  background-color: #444;
}

.contact form .inputBox input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

/* CONTACT */


/* PERSONNEL */
.personnel {

  background-image: url(images/team4.png);
  background-color:rgba(24, 21, 21, 0.5);

   background-blend-mode:soft-light; 
  background-size: cover;
}

.persondesc {

  /* text-align: center; */
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem 0;
  display: block;
  margin-bottom: 0;
}

.personnel h3 {
  color: white;
  text-shadow: 0 5px 10px rgba(0, 0, 0, .3);

  font-size: 4.5rem;
  text-transform: uppercase;
}

.personnel h3 span {
  text-shadow: 0 5px 10px rgba(0, 0, 0, .3);

  color: var(--main-color);
  font-size: 4.5rem;
  text-transform: uppercase;
}





 #personcontainer {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* Allow wrapping to the next line */
  justify-content: center; /* Center the containers horizontally */
}

.sub-container { 
 width: calc(50% - 50px); /* Set a fixed width for the container */
  height: 400px; /* Set the desired height */
  margin: 20px;
  background-color: #272626;
  box-sizing: border-box;
  /* border-radius: 10px; */
  overflow: hidden; /* Ensure images don't overflow the container */
  box-shadow: 2px 2px 4px 2px rgb(37, 37, 37), -2px -2px 4px 2px rgb(22, 19, 19);
  position: relative; /* Needed for absolute positioning of the overlay */


}

.sub-container:hover {
  transform: scale(1.1); /* Scale the image on hover */
  background-color: #00ADB5;
}

.sub-container img {
  width: 100%; /* Make the image fill the width of the container */
  height: 100%; /* Make the image fill the height of the container */
  object-fit: contain; /* Maintain aspect ratio and fit the entire image within the container */
  border-radius: 10px; /* Optional: Add rounded corners */
}

@media only screen and (max-width: 1000px) {
  .sub-container {
    width: calc(50% - 20px); /* Adjust width for two containers per row on smaller screens */
  }
}

@media only screen and (max-width: 800px) {
  .sub-container {
    width: calc(60% - 40px); /* Change the width to 100% when the screen is smaller */
  }
}

@media only screen and (max-width: 700px) {
  .sub-container {
    width: 300px; /* Change the width to 100% when the screen is smaller */
  }
}
  
@media only screen and (max-width: 450px) {
  .sub-container {
    width: 400px; /* Change the width to 100% when the screen is smaller */
  }
}

/* FOOTER */
footer {
  background-color: #121315;
  color: #ffffff;
  font-size: 16px;
}
footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.row {
  padding: 2em 1em;
}
.row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: stretch;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}
footer h3 {
  width: 100%;
  text-align: left;
  color: #ffffff;
  font-size: 1.6em;
  white-space: nowrap;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
li:not(:first-child) {
  margin-top: 0.8em;
}
ul li a {
  color: #ffffff;
  text-decoration: none;
}
ul li a:hover {
  color: #00ADB5;
}
 /* .about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
} */
footer input,
button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
footer button {
  background-color: #000000;
  color: #ffffff;
}

footer button:hover{
background-color: #000000;
border-right: 3px solid #00f2ff;
border-left: 3px solid #00f2ff;
color: #00f2ff;
}

.fa-brands, .fab{
  color:#00ADB5;
}

div.social {
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}
.social i:hover {
  color: #00ADB5;
}
.row.secondary {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.row.secondary i {
  font-size: 1.8em;
  color: #00ADB5;
}
.row.secondary div {
  padding: 1em 0;
  width: 100%;
}
.row.secondary div:hover {
  background-color: #25262e;
}
.copyright {
  padding: 0.3em 1em;
  background-color: #25262e;
}
.copyright p {
  font-size: 0.9em;
  text-align: center;
}
@media screen and (max-width: 850px) {
  .row.primary {
    grid-template-columns: 1fr;
  }
  .row.secondary {
    flex-direction: column;
  }
}